body {
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: #00B7FF;
}

header {
    margin-top: -86px;
    background-image: url('/images/nightsky.jpg');
    background-repeat: repeat-x;
    height: 250px;
    width: 100%;
}

#header-title {
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 50px;
    color: #fff700;
    font-size: 100px;
    display: inline-block;
    cursor: pointer;
}

#subtitle {
    color: #fff700;
    font-size: 30px;
    display: inline-block;
    text-decoration: italic;
}

#welcome-image{
    vertical-align: middle;
    height: 640px;
    margin-left:600px;
    margin-top:20px;

}

div.header-text{
    margin-left:33px;
}

form#input-form {
    margin-top: -50px !important;
    margin-left: 40px;
}

#search-btn {
    border-radius: 0px;
    background-color: #7c7028;
    border-color: #ae7a4c;
    margin-top: -3px;
    margin-left: 11px;
}

.list-group-item {
    display: inline-block !important;
}

#search-field {
    border-radius: 0px;
    display: inline-block;
}

.input-search-size {
    width: 300px !important;
}

#search {
    margin-top: 10px;
    margin-left: 47%;
}

.list-group {
    margin-top: 30px;
    width: 600px;
    margin-left: 40px;
}

.list-group-item {
    width: inherit;
    padding: 0px;
    height: 80px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0 !important;
    margin-top: 20px;
}


/* div.list-minicard-info,
div.list-minicard-image {
    display: inline-block;
} */

div.list-minicard-image img {
    width: 80px;
    height: 80px;
}

div.list-minicard-info {
    margin-left: 95px;
    margin-top: -78px;
}

div.minicard-info-artist {
    font-size: 15px;
}

div.minicard-info-views {
    margin-top: -10px;
}

div.minicard-info-views img {
    margin-bottom: -20px;
    height: 10px;
}

div.minicard-info-views div {
    font-size: 15px;
    margin-top: -11px;
    margin-left: 24px;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.modal {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('/images/cool-loading.gif') 50% 270px no-repeat;
}


/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

body.loading {
    overflow: hidden;
}


/* Anytime the body has the loading class, our
   modal element will be visible */

body.loading .modal {
    display: block;
}


/* Album view */

div.container {
    width: 100%;
    margin: 0px;
}

p.album {
    font-size: 150%;
}

.album-wrapper {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    background-color: lightgrey;
}

.album-cover {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

/*SONG VIEW*/
/*ICONS*/
a.youtube>img {
    height: 60px;
    width: 60px;
}
.apple_music>img {
    height: 60px;
    width: 60px;
}
.spotify>img {
    height: 60px;
    width: 60px;
}
.soundcloud>img {
    height: 60px;
    width: 60px;
}
.amazon-purchase img {
    height: 70px;
    width: 120px;
}
.hot-view-panel img{
    height: 10px;
    width: 20px;
    margin-bottom: 5px;
}
/*IMAGES*/


/* FLEX */
.song-container {
    margin: 20px;
}

.song-wrapper {
    display: flex;
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto auto;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}
.album-and-tilte {
    flex: 1;
    display: flex;
}
.album-pic {
    flex: 1;
}
.about-song {
    flex: 1;
}
.player {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.youtube {
    flex: 3;
}
iframe {
    width: 500px;
    height: 300px;
}
.hot-view-panel {
    flex: 1;
}
.lyrics-and-lniks {
    display: flex;
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    padding: 20px 50px;
}

.lyrics {
    flex: 1;
}
.links {
    flex: 1;
}

.album-and-tilte {
    display: flex;
}
.album-pic img{
    width: 250px;
}
.about-song {
    flex: 1
}



@media all and (min-width: 600px) {
    /* .providers-and-prchase-left,
    .song-author-and-album-right {
        flex: 1 auto;
    } */
}

@media all and (min-width: 800px) {
    /* .main-liriks {
        flex: 3 0px;
        order: 2
    }
    .providers-and-prchase-left {
        order: 1;
    }
    .song-author-and-album-right {
        order: 3;
    }
    .footer {
        order: 4;
    } */
}
/*/FLEX*/
/*SONG VIEW*/
