body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#search-field {
    display: inline-block;
}

.input-search-size {
    width: 300px !important;
}

#search {
    margin-top: 10px;
    margin-left: 47%;
}

.list-group {
    width: 600px;
}

a.list-group-item {
    padding: 0px;
    height: 80px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0 !important;
    margin-top: 20px;
}

div.list-minicard-info,
div.list-minicard-image {
    display: inline-block;
}

div.list-minicard-image img {
    margin-top: -55px;
    width: 80px;
    height: 80px;
}

div.minicard-contaier {
    margin-top: -5px;
}

div.minicard-info-artist {
    font-size: 15px;
}

div.minicard-info-views img {
    margin-bottom: -22px;
    height: 10px;
}

div.minicard-info-views div {
    font-size: 15px;
    margin-top: -7px;
    margin-left: 24px;
}