body {
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: #00B7FF;
}

header{
    margin-top:-50px;
    background-image: url('/images/nightsky.jpg');
    background-repeat: repeat-x;
    height: 175px;
    width: 100%;
}

#header-title{
    margin-top:50px;
    color:   #fff700;
    font-size: 100px;
    display: inline-block;
}

#subtitle{
    color:   #fff700;
    font-size: 30px;
    display: inline-block;
    text-decoration: italic;    
}

form#input-form{
    margin-top: 20px !important;
    margin-left: 40px;
}

#search-btn{
    background-color: #7c7028;
    border-color:#ae7a4c    
}

.list-group-item {
    display: inline-block !important;
}

#search-field {
    display: inline-block;
}

.input-search-size {
    width: 300px !important;
}

#search {
    margin-top: 10px;
    margin-left: 47%;
}

.list-group {
    width: 600px;    
    margin-left: 40px;
}

.list-group-item {
    width: inherit;
    padding: 0px;
    height: 80px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0 !important;
    margin-top: 20px;
}

/* div.list-minicard-info,
div.list-minicard-image {
    display: inline-block;
} */

div.list-minicard-image img {
    width: 80px;
    height: 80px;
}

div.list-minicard-info {
    margin-left: 95px;
    margin-top: -78px;
}

div.minicard-info-artist {
    font-size: 15px;
}

div.minicard-info-views{
    margin-top: -10px;
}

div.minicard-info-views img {
    margin-bottom: -20px;
    height: 10px;
}

div.minicard-info-views div {
    font-size: 15px;
    margin-top: -11px;
    margin-left: 24px;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.modal {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('/images/cool-loading.gif') 50% 200px no-repeat;
}


/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

body.loading {
    overflow: hidden;
}


/* Anytime the body has the loading class, our
   modal element will be visible */

body.loading .modal {
    display: block;
}

.youtube>img {
    height: 51px;
    width: 92px;
}
.apple_music>img {
    height: 51px;
    width: 92px;
}
.spotify>img {
    height: 51px;
    width: 92px;
}
.soundcloud>img {
    height: 51px;
    width: 92px;
}
.song-title img {
    height: 10px;
    width: 20px;
}
.song-author-and-album-right p img {
    height: 100px;
    width: 200px;
}
#lyrics-header {
    text-align: center;
}
/* FLEX */
.song-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
    font-weight: bold;
    text-align: center;

    padding-top: 10px;
    min-height: 700px;
  }
  
  .song-wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .song-title {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main-liriks {
    text-align: left;
    background: deepskyblue;
    min-height: 200px;
  }
  
  .providers-and-prchase-left {
    background: gold;
  }
  
  .song-author-and-album-right {
    background: hotpink;
  }
  
  @media all and (min-width: 600px) {
    .providers-and-prchase-left, .song-author-and-album-right { flex: 1 auto; }
  }
  
  @media all and (min-width: 800px) {
    .main-liriks    { 
        flex: 3 0px; 
        order: 2
    }
    .providers-and-prchase-left { order: 1; }
    .song-author-and-album-right { order: 3; }
    .footer  { order: 4; }
  }