body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.input-search-size{
  width: 300px !important;
  margin-left: 40%;
}

#search{
  margin-top: 10px;
  margin-left: 47%;
}

.list-group{
  width:50%;
}

a.list-group-item{
  height:80px;
  text-align: center;
  padding: 30px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
