body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#search-field {
    display: inline-block;
}

.input-search-size {
    width: 300px !important;
}

#search {
    margin-top: 10px;
    margin-left: 47%;
}

.list-group {
    width: 600px;
}

a.list-group-item {
    padding: 0px;
    height: 80px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0 !important;
    margin-top: 20px;
}

div.list-minicard-info,
div.list-minicard-image {
    display: inline-block;
}

div.list-minicard-image img {
    margin-top: -55px;
    width: 80px;
    height: 80px;
}

div.minicard-contaier {
    margin-top: -5px;
}

div.minicard-info-artist {
    font-size: 15px;
}

div.minicard-info-views img {
    margin-bottom: -22px;
    height: 10px;
}

div.minicard-info-views div {
    font-size: 15px;
    margin-top: -7px;
    margin-left: 24px;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('/images/cool-loading.gif') 50% 50% no-repeat;
}


/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

body.loading {
    overflow: hidden;
}


/* Anytime the body has the loading class, our
   modal element will be visible */

body.loading .modal {
    display: block;
}