<!DOCTYPE html>
<html>

<head>

    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <form>
        <input type="text" id="search-field" class="form-control input-search-size" placeholder="search by name">
        <button href="#" id="search-btn" class="btn btn-success">Search</button>
    </form>


    <div id="container"> </div>


    <div class="modal">
        <!-- Place at bottom of page -->
    </div>



    <script src="javascripts/utils.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/handlebars/dist/handlebars.js"></script>
    <script src="/javascripts/template-loader.js"></script>
    <script src="/navigo/lib/navigo.js"></script>
    <script src="/javascripts/dataservice.js"></script>
    <script src="/javascripts/routing-controller.js"></script>
    <script src="/javascripts/navigo-router.js"></script>
    <script src="/javascripts/container.js"></script>
    <script src="/javascripts/init.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>