<div class="list-group" >
    {{#each response.hits}}

    <p>
        <a href="#/{{this.type}}/{{result.id}}" class="list-group-item list-group-item-action">
            {{result.full_title}}
        </a>
    </p>

    {{/each}}
</div>